<div id="{{ templateName }}" class="js-controller">
  <header class="qa-header">
    <h1>{{ header }}</h1>
  </header>
  <main class="qa-main">
    {{> components/productGrid/views/main productGrid }}
  </main>
  <footer class="qa-footer">
    &copy; modularis
  </footer>
</div>
