<header class="qa-header">
  <h1>modularis</h1>
</header>
<main class="qa-main">
  <p>Hello world!</p>
  {{> components/card/template }}
</main>
<footer class="qa-footer">
  &copy; modularis
</footer>
<script src="js/index.js" async></script>
