<div id="{{ templateName }}" class="js-controller">
  <header class="qa-header">
    <h1>{{ header }}</h1>
  </header>
  <main class="qa-main">
    <p>Hello world!</p>
    {{> components/card/views/main card }}
    {{> components/card/views/main card }}
    {{> components/card/views/main card }}
    <a class="product-link" href="/product/xy">Product XY</a>
  </main>
  <footer class="qa-footer">
    &copy; modularis
  </footer>
</div>
