<div id="{{ templateName }}" class="js-controller">
  <header class="qa-header">
    <h1>{{ header }}</h1>
  </header>
  <main class="qa-main">
    <p>Hello world!</p>
    <a class="index-link" href="/">Index</a>
  </main>
  <footer class="qa-footer">
    &copy; modularis
  </footer>
</div>
