<div class="controller">
  <header class="qa-header">
    <h1>{{ header }}</h1>
  </header>
  <main class="qa-main">
    <p>Hello world!</p>
  </main>
  <footer class="qa-footer">
    &copy; modularis
  </footer>
</div>
