<div class="js-cmp-card">
  <link rel="stylesheet" href="/css/components/card/main.css">
  <div class="c-card">
    <h2>{{ title }}</h2>
    {{> components/button/views/main button }}
    <p>some Element</p>
  </div>
</div>
