{
  "extends": "stylelint-config-standard",
  "rules": {
    "font-weight-notation": "numeric",
    "function-url-quotes": "always",
    "string-quotes": "single",
    "value-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "max-nesting-depth": 1,
    "no-descending-specificity": true,
    "no-indistinguishable-colors": true
  }
}