<div class="js-cmp-button">  
  <link rel="stylesheet" href="/css/components/button/main.css">
  {{#if anchor }}
    <a class="c-button" href="{{ anchor }}">{{ title }}</a>
  {{else}}
    <button class="c-button">{{ title }}</button>
  {{/if}}
</div>
