<div class="js-cmp-notification-bar">
  <link rel="stylesheet" href="/css/components/notificationBar/main.css">
  <ul class="c-notification-bar">
    {{#each items }}
      <li class="c-notification-bar__item{{#if show }} do-show{{/if}}{{#if hide }} do-hide{{/if}}">
        <h3>{{ title }}</h3>
        {{#if body }}
          <p>{{ body }}</p>
        {{/if}}
        <button class="c-notification-bar__close">close</button>
      </li>
    {{/each}}
  </ul>
</div>
