<div class="js-cmp-product-grid">
  <link rel="stylesheet" href="/css/objects/grid.css">
  <link rel="stylesheet" href="/css/components/productGrid/main.css">
  <div class="c-product-grid o-grid">
    {{#each products }}
      <div class="o-grid__item"> 
        {{> components/productPreview/views/main }}
      </div>
    {{/each}}
  </div>
</div>
