<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>modularis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
    <link rel="dns-prefetchss" href="https://cdn.polyfill.io">
  </head>
  <body>
    {{{ body }}}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Array.from,Object.assign,Promise"></script>
    <script src="js/global.js"></script>
    <script src="js/index.js" async></script>
  </body>
</html>
